:root {
  --color1: bisque;
  --color2: rgb(48, 39, 39);
  --color3: rgb(201, 100, 50);
  --color4: rgb(209, 178, 143);
  --color5: rgb(109, 129, 82);
  --color6: #7b1fb1;
  --color7: rgb(65, 17, 75);
  --font-family: cursive;
  --font-family-2: Arial;
  --font-family-3: sans-serif;
}

footer {
  padding: 30px;
  font-family: var(--font-family);
  background-color: var(--color2);
  color: var(--color3);
}

.navFooter {
  background-color: var(--color2);
  color: var(--color3);
  font-family: var(--font-family);
  font-weight: bold;
  padding: 5px;
}
