:root {
  --color1: bisque;
  --color2: rgb(48, 39, 39);
  --color3: rgb(201, 100, 50);
  --color4: rgb(209, 178, 143);
  --color5: rgb(109, 129, 82);
  --color6: #7b1fb1;
  --color7: rgb(65, 17, 75);
  --font-family: cursive;
  --font-family-2: Arial;
  --font-family-3: sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.aboutMe,
.products,
.contactInfo {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.aboutMe {
  background-image: url('/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color4);
  font-size: 100px;
}

.projects {
  background-image: url('/images/img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: var(--color4);
  font-size: 100px;
}

.contactInfo {
  background-image: url('/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color4);
  font-size: 100px;
}
